// Colors
$secondary-color: #00a59c;

$text-color-dark: #1e2c2c;
$text-color-blue: #5c00ff;

$background-bio: rgb(1, 160, 152);
// Fonts
$font-family-rubik: "Rubik", sans-serif;
$font-family-pp-neue-machina: "PP Neue Machina", sans-serif;

//wrapper
$padding-left-wrapper: 30px;
$padding-right-wrapper: 30px;
