.container-footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
  padding-left: $padding-left-wrapper;
  padding-right: $padding-right-wrapper;



  .container-logo {
    padding: 30px 50px;
  }

  .column-1 {
    .icon {
      font-size: 25px !important;
      padding-right: 10px;

      &:hover {
        color: $text-color-hover;
      }
    }
  }

  .container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    p,
    a {
      color: #606060;
      font-family: $font-family-pp-neue-machina;
      font-size: 18px;
      text-decoration: none;
    }

    .link-footer:hover {
      color: $text-color-hover;
    }

    span {
      padding: 0px 20px;
    }
  }
}

.container-columns {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  padding: 70px 0;

  p,
  a {
    color: #606060;
    font-family: $font-family-pp-neue-machina;
    font-size: 18px;
    text-decoration: none;




  }

  .p-qualità {
    border-bottom: 1px solid #1b2727;
    border-radius: 0;
    padding-bottom: 15px;
  }
}



/* Media query per schermi piccoli */
@media (max-width: 1000px) {
  .container-columns {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;


  }

  .container-columns>div {
    margin-bottom: 20px;
  }

  .container-copyright {
    text-align: center;
  }
}

@media (min-width: 1700px) {

  .wrapper-footer {
    max-width: $max-width-wrapper;
    margin: $margin-auto-wrapper
  }

}