.section-form {
  display: flex;
  justify-content: center;
  border: 5px solid green;
}

.btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.form-body {
  border: 5px solid rgb(122, 3, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: $font-family-pp-neue-machina;

  .form-select {
    min-width: 700px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 15px;
  }

  .form-control {
    min-width: 700px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 15px;
  }
  .form-gap {
    margin-bottom: 30px;
  }
}
