.container-parent-hero {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 150px;
}

.container-hero-text {
  position: relative;
  color: white;
  z-index: 2;
  text-align: start;
  max-width: 65%;
  padding: 0 20px;
  padding-bottom: 50px;

  h1 {
    font-family: $font-family-pp-neue-machina;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 20px;
  }

  p {
    font-family: $font-family-rubik;
    font-size: 20px;
    line-height: 32px;
  }
}



@media (max-width: 992px) {
  .container-hero-text {
    max-width: 100%;
  }

  .container-parent-hero {
    padding: 0 15px !important;
  }
}

/* Media query per schermi piccoli */
@media (max-width: 450px) {

  .container-hero-text {
    h1 {
      padding-bottom: 15px;
      font-size: 35px;

    }

    p {
      font-family: $font-family-rubik;
      font-size: 18px;
      line-height: 30px;
    }
  }

}