.section-bio {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-left: $padding-left-wrapper * 10;
  padding-right: $padding-right-wrapper * 10;
  max-width: $max-width-wrapper;
  margin: $margin-auto-wrapper;
  background-color: white;
}

.container-h1-bio {
  display: flex;
  align-items: center;

  .bio-h1 {
    font-family: $font-family-pp-neue-machina;
    line-height: 60px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 50px;
    font-size: 57px;
  }
}

.nome-bio {
  display: flex;

  flex-direction: column;
  background-color: $background-bio;
  border-radius: 14px;
  box-shadow: 0px 0px 16px 0px #000000;
  padding: 35px;

  a {
    color: #1e2c2c;
    text-decoration: none;
  }

  .b1 {
    font-size: 35px !important;
    line-height: 43px !important;
    font-family: $font-family-pp-neue-machina !important;
    color: white !important;
  }

  .b2 {
    font-family: $font-family-pp-neue-machina !important;
    color: #1e2c2c !important;
    font-size: 20px !important;

  }
}

.container-box1 {
  display: flex;
  justify-content: end;
  align-items: center;

}

.container-desc-img {
  display: flex;
  flex-direction: row;

  img {
    padding: 50px;
    padding-bottom: 0;


  }

  .container-box2 {
    background-color: $background-bio;
    display: flex;
    flex-direction: column;

    border-radius: 14px;
    box-shadow: 0px 0px 16px 0px #000000;
    max-width: 800px;
    padding: 70px;

    .nome-bio {
      display: none;
      box-shadow: none;
    }

    p {
      font-family: $font-family-rubik;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
  }
}

@media (max-width: 1400px) {
  .mobile {
    display: none;
  }

  .mobile2 {
    display: block !important;
    padding: 0 !important;
  }

  .container-desc-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-bio {
    padding: 80px 25px !important;
  }

  .container-h1-bio {
    .bio-h1 {
      text-align: start;
    }
  }

  .container-box2 {
    position: relative;
  }

  .container-desc-img img {

    position: relative;
    top: -80px;
    /* Adjust this value to control the overlap */
    z-index: 2000;

  }
}