.section-ui-developing {
  padding: 100px $padding-left-wrapper * 6;
  border-radius: 25px;
  z-index: 1000 !important;
  position: relative;
  background-color: rgb(92, 0, 255);
  margin-top: -50px;




  .container-section-text {
    padding-left: 50px;
    color: white;

    .cta {
      text-decoration: none;
      padding: 10px 0;
      margin-top: 40px;
      border-bottom: 1px solid #ffffff;
      font-family: "Rubik";
      font-size: 20px;
      line-height: 27px;
      display: inline-block;
      color: #ffffff;
    }
  }

  h2 {
    font-family: $font-family-pp-neue-machina;
    font-size: 48px;
    line-height: 45px;
    font-weight: 400;

    padding-bottom: 30px;
  }

  p {
    font-family: $font-family-rubik;
    font-size: 20px;
    line-height: 32px;
  }
}

.container-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  button {
    color: #1e2c2c !important;
    background: #f2f2f2;
    font-family: $font-family-pp-neue-machina;
    border-radius: 10px;
    margin: 0 10px 20px 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
  }

  button:hover {
    color: #ffffff !important;
    background: #01A098;
  }
}

@media (max-width: 991px) {
  .section-ui-developing {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 80px 0 !important;
  }

  .container-p {
    padding-bottom: 80px;
  }

  .container-section-text {
    padding: 0 15px !important;
  }
}

/* Aggiunta del gap tra le colonne per schermi di grandi dimensioni */
@media (min-width: 992px) {
  .col-lg-6 {
    padding-left: 50px;
    padding-right: 50px;
  }
}