.section-steps {
  padding-bottom: 90px;
  padding-top: 50px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: $padding-left-wrapper * 6;
  padding-right: $padding-right-wrapper * 6;
}

.container-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 60px;
  align-items: center;

  .section-dx {
    flex: 2;
    padding: 10px;

    position: relative;

    .container-number {
      font-size: 24px;
      line-height: 26px;
      font-family: $font-family-rubik;
      color: $text-color-blue;
      padding-bottom: 20px;
    }

    p {
      font-family: $font-family-rubik;

      font-size: 18px;
      line-height: 27px;
      color: #606060;
    }
  }

  .section-sx {
    flex: 1;

    position: relative;
    background-color: #ffffff;
    z-index: 9;
    padding: 100px 50px;
    color: $text-color-blue;
    font-family: $font-family-pp-neue-machina;
    box-shadow: 14px -5px 20px -25px rgba(83, 56, 242, 0.5);

    h4 {
      font-weight: 500;
      font-size: 35px;
      line-height: 39px;
      letter-spacing: -1px;
      padding-bottom: 10px;
    }

    .tabella {
      display: flex;
      flex-direction: column;
      height: 100%;

      .voce {
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -1px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        background: none;
        text-align: start;
        color: $text-color-blue;
      }
    }
  }
}


//Slider steps style

.testo {
  display: none;
}


.testo.active {
  display: block;
}

.voce.active {
  font-weight: bold;
  color: #333;
}


.slide-enter {
  opacity: 0;

  transform: translateX(-60%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 800ms, transform 800ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-70%);
  transition: opacity 800ms, transform 800ms;
}



/* Media query per schermi piccoli */
@media (max-width: 576px) {
  .section-steps {
    background-color: white;
    margin-top: -30px;
    padding-top: 50px;
    z-index: 2000 !important;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-steps {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}