.navbar-container {
  display: flex;

  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 30px 40px;
  column-gap: 20px;
  z-index: 3000 !important;
  .logo {
    z-index: 3000 !important;
    width: 80px;
  }
}

.navbar-toggler {
  border-radius: 100%;
  padding: 10px;
  background-color: white;
  width: 40px;
  height: 40px;

  .icon-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    height: 10px;
    color: black;
  }
}

.navbar-dx {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;

  a {
    color: $text-color-dark;
    font-family: $font-family-pp-neue-machina;
  }

  .offcanvas-body {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;

    .navbar-nav {
      display: flex;
      justify-content: center;
      font-size: 32px;

      text-align: end;
    }
  }
  .offcanvas {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    min-width: 620px;
    z-index: -10;
  }
}

.modal-backdrop {
  display: none;
}
.social-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;

  a {
    text-decoration: none;
  }
  p {
    float: left !important;
  }
  .social-icon {
    display: flex;
    text-align: start;
    column-gap: 15px;
    font-size: 20px;
    align-items: center;
  }
  .lang-menu {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    font-size: 13px;
  }
}
