* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-font-p/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of weights */
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-font-p/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of weights */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-Light.otf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-Regular.otf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-UltraBold.otf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.navbar-container .logo {
  z-index: 100000;
  width: 80px;
}

.navbar-toggler {
  border-radius: 100%;
  padding: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
}
.navbar-toggler .icon-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  height: 10px;
  color: black;
}

.navbar-dx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.navbar-dx a {
  color: #1e2c2c;
  font-family: "PP Neue Machina", sans-serif;
}
.navbar-dx .offcanvas-body {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00a59c;
}
.navbar-dx .offcanvas-body .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  text-align: end;
}
.navbar-dx .offcanvas {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 620px;
  z-index: -10;
}

.modal-backdrop {
  display: none;
}

.social-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
.social-lang a {
  text-decoration: none;
}
.social-lang p {
  float: left !important;
}
.social-lang .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-lang .lang-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}

.container-hero {
  border: 5px solid red;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url("../images/Immagine-Slider-da-ripetere.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.container-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 900px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.container-hero .container-parent-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-hero .container-hero-text {
  position: relative;
  color: white;
  max-width: 1050px;
  padding-left: 170px;
  z-index: 2;
}
.container-hero .container-hero-text h1 {
  font-family: "PP Neue Machina", sans-serif;
  font-size: 48px;
  line-height: 45px;
  font-weight: 400;
  padding-bottom: 30px;
}
.container-hero .container-hero-text p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.section-ui-developing {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  border-radius: 25px;
  z-index: 1000 !important;
  position: relative;
  background-color: rgb(92, 0, 255);
}
.section-ui-developing .container-section-text {
  padding-left: 50px;
  color: white;
}
.section-ui-developing .container-section-text .cta {
  text-decoration: none;
  padding: 10px 0;
  margin-top: 40px;
  border-bottom: 1px solid #ffffff;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 27px;
  display: inline-block;
  color: #ffffff;
}
.section-ui-developing .container-p {
  width: 650px;
}
.section-ui-developing h2 {
  font-family: "PP Neue Machina", sans-serif;
  font-size: 48px;
  line-height: 45px;
  font-weight: 400;
  padding-bottom: 30px;
}
.section-ui-developing p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.container-button {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-button button {
  color: #1e2c2c !important;
  background: #f2f2f2;
  font-family: "PP Neue Machina", sans-serif;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
}

.section-steps {
  padding-bottom: 100px;
  padding-top: 30px;
}

.wrapper-section-steps {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.container-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container-steps .section-dx {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 10px;
  position: relative;
}
.container-steps .section-dx .container-number {
  font-size: 24px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  color: #5c00ff;
  padding-bottom: 20px;
}
.container-steps .section-dx p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}
.container-steps .section-sx {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 400px;
  position: relative;
  background-color: #ffffff;
  z-index: 9;
  padding: 100px 50px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(83, 56, 242, 0.18);
          box-shadow: 0px 0px 20px 0px rgba(83, 56, 242, 0.18);
  color: #5c00ff;
  font-family: "PP Neue Machina", sans-serif;
}
.container-steps .section-sx h4 {
  font-weight: 500;
  font-size: 35px;
  line-height: 39px;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.container-steps .section-sx .tabella {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.container-steps .section-sx .tabella .voce {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}