@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-font-p/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of weights */
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-font-p/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of weights */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-Light.otf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-Regular.otf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina/PPNeueMachina-UltraBold.otf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  z-index: 3000 !important;
}
.navbar-container .logo {
  z-index: 3000 !important;
  width: 80px;
}

.navbar-toggler {
  border-radius: 100%;
  padding: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
}
.navbar-toggler .icon-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  height: 10px;
  color: black;
}

.navbar-dx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.navbar-dx a {
  color: #1e2c2c;
  font-family: "PP Neue Machina", sans-serif;
}
.navbar-dx a.nav-link:hover {
  color: white;
  text-decoration: underline;
}
.navbar-dx .offcanvas-body {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00a59c;
}
.navbar-dx .offcanvas-body .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  text-align: end;
}
.navbar-dx .offcanvas {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 620px;
  z-index: -10;
}

.modal-backdrop {
  display: none;
}

.social-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
.social-lang a {
  text-decoration: none;
}
.social-lang a:hover {
  color: #606060;
  text-decoration: underline;
}
.social-lang p {
  float: left !important;
}
.social-lang .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-lang .lang-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}

/* Media query per schermi piccoli */
@media (max-width: 600px) {
  .social-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-dx .offcanvas {
    position: fixed;
    top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    margin: 0 auto;
  }
  .navbar-dx .offcanvas.show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Media query per schermi piccoli */
@media (max-width: 450px) {
  .navbar-container {
    margin-left: 100px;
  }
  .navbar-container .social-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar-container a {
    font-size: 25px;
  }
}
.container-parent-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 150px;
}

.container-hero-text {
  position: relative;
  color: white;
  z-index: 2;
  text-align: start;
  max-width: 65%;
  padding: 0 20px;
  padding-bottom: 50px;
}
.container-hero-text h1 {
  font-family: "PP Neue Machina", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 20px;
}
.container-hero-text p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 992px) {
  .container-hero-text {
    max-width: 100%;
  }
  .container-parent-hero {
    padding: 0 15px !important;
  }
}
/* Media query per schermi piccoli */
@media (max-width: 450px) {
  .container-hero-text h1 {
    padding-bottom: 15px;
    font-size: 25px;
  }
  .container-hero-text p {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (min-width: 1600px) {
  .container-hero-text {
    max-width: 750px;
  }
}
.section-ui-developing {
  padding: 100px 120px;
  border-radius: 25px;
  z-index: 1000 !important;
  position: relative;
  background-color: rgb(92, 0, 255);
  margin-top: -50px;
}
.section-ui-developing .container-section-text {
  padding-left: 50px;
  color: white;
}
.section-ui-developing .container-section-text .cta {
  text-decoration: none;
  padding: 10px 0;
  margin-top: 40px;
  border-bottom: 1px solid #ffffff;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 27px;
  display: inline-block;
  color: #ffffff;
}
.section-ui-developing .container-section-text .cta:hover {
  color: #01A098;
  border-bottom-color: #01A098;
}
.section-ui-developing h2 {
  font-family: "PP Neue Machina", sans-serif;
  font-size: 48px;
  line-height: 45px;
  font-weight: 400;
  padding-bottom: 30px;
}
.section-ui-developing p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-button button {
  color: #1e2c2c !important;
  background: #f2f2f2;
  font-family: "PP Neue Machina", sans-serif;
  border-radius: 10px;
  margin: 0 10px 20px 10px;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
}
.container-button button:hover {
  color: #ffffff !important;
  background: #01A098;
}

@media (max-width: 991px) {
  .section-ui-developing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    padding: 80px 0 !important;
  }
  .container-p {
    padding-bottom: 80px;
  }
  .container-section-text {
    padding: 0 15px !important;
  }
}
/* Aggiunta del gap tra le colonne per schermi di grandi dimensioni */
@media (min-width: 992px) {
  .col-lg-6 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* Media query per schermi piccoli */
@media (max-width: 450px) {
  .cta {
    margin-left: 100px;
  }
}
.section-steps {
  padding-bottom: 90px;
  padding-top: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 200px;
  padding-right: 200px;
  max-width: 1500px;
  margin: 0 auto;
}

.container-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-steps .section-dx {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 10px;
  position: relative;
}
.container-steps .section-dx .container-number {
  font-size: 24px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  color: #5c00ff;
  padding-bottom: 20px;
}
.container-steps .section-dx p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #606060;
}
.container-steps .section-sx {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background-color: #ffffff;
  z-index: 9;
  padding: 100px 50px;
  color: #5c00ff;
  font-family: "PP Neue Machina", sans-serif;
  -webkit-box-shadow: 14px -5px 20px -25px rgba(83, 56, 242, 0.5);
          box-shadow: 14px -5px 20px -25px rgba(83, 56, 242, 0.5);
}
.container-steps .section-sx h4 {
  font-weight: 500;
  font-size: 35px;
  line-height: 39px;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.container-steps .section-sx .tabella {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.container-steps .section-sx .tabella .voce {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: none;
  text-align: start;
  color: #5c00ff;
}

.testo {
  display: none;
}

.testo.active {
  display: block;
}

.voce.voce:hover {
  font-weight: 500 !important;
  padding-left: 25px;
  background-color: transparent;
  background: url("../images/circle-dot-icon.png") no-repeat 1px 9px !important;
}
.voce.active {
  font-weight: 500 !important;
  background: url("../images/circle-dot-icon.png") no-repeat 1px 9px !important;
  padding-left: 25px;
}

.slide-enter {
  opacity: 0;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.slide-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: opacity 800ms, -webkit-transform 800ms;
  transition: opacity 800ms, transform 800ms;
  transition: opacity 800ms, transform 800ms, -webkit-transform 800ms;
}

.slide-exit {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: opacity 800ms, -webkit-transform 800ms;
  transition: opacity 800ms, transform 800ms;
  transition: opacity 800ms, transform 800ms, -webkit-transform 800ms;
}

/* Media query per schermi piccoli */
@media (max-width: 576px) {
  .section-steps {
    background-color: white;
    margin-top: -30px;
    padding-top: 50px;
    z-index: 2000 !important;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .container-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.section-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
  padding-left: 200px;
  padding-right: 200px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
}

.container-h1-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-h1-bio .bio-h1 {
  font-family: "PP Neue Machina", sans-serif;
  line-height: 60px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 50px;
  font-size: 57px;
}

.nome-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(1, 160, 152);
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 16px 0px #000000;
          box-shadow: 0px 0px 16px 0px #000000;
  padding: 35px;
}
.nome-bio a {
  color: #1e2c2c;
  text-decoration: none;
}
.nome-bio .b1 {
  font-size: 35px !important;
  line-height: 43px !important;
  font-family: "PP Neue Machina", sans-serif !important;
  color: white !important;
}
.nome-bio .b2 {
  font-family: "PP Neue Machina", sans-serif !important;
  color: #1e2c2c !important;
  font-size: 20px !important;
}

.container-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-desc-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container-desc-img img {
  padding: 50px;
  padding-bottom: 0;
}
.container-desc-img .container-box2 {
  background-color: rgb(1, 160, 152);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 16px 0px #000000;
          box-shadow: 0px 0px 16px 0px #000000;
  max-width: 800px;
  padding: 70px;
}
.container-desc-img .container-box2 .nome-bio {
  display: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.container-desc-img .container-box2 p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .mobile {
    display: none;
  }
  .mobile2 {
    display: block !important;
    padding: 0 !important;
  }
  .container-desc-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-bio {
    padding: 80px 25px !important;
  }
  .container-h1-bio .bio-h1 {
    text-align: start;
  }
  .container-box2 {
    position: relative;
  }
  .container-desc-img img {
    position: relative;
    top: -80px;
    /* Adjust this value to control the overlap */
    z-index: 2000;
  }
}
.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "PP Neue Machina", sans-serif;
  min-width: 50%;
}
.form-body .form-select,
.form-body .form-control {
  padding: 20px 20px;
  font-size: 1.2em;
  border-radius: 15px;
  max-width: 100%;
}
.form-body .form-gap {
  margin-bottom: 10px;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  color: #6c757d;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px !important;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 10px;
}

.form-check-input {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.form-check-label {
  font-size: small;
  padding-left: 10px;
}
.form-check-label a {
  color: black;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 40px;
  padding-bottom: 80px;
}
.form-button .btn {
  width: auto;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  padding: 0;
  border-bottom: 1px solid #1b2727;
  border-radius: 0;
  padding-bottom: 15px;
  cursor: not-allowed;
  font-size: 20px;
}

.form-control,
.form-select {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border: none;
}

.form-social {
  background-repeat: no-repeat;
  background-position: 20px 20px;
  padding-left: 65px !important;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

.linkedin {
  background-image: url("../images/linkedin.png");
}

.behance {
  background-image: url("../images/behance.png");
  background-position: 20px 22px;
}

.instagram {
  background-image: url("../images/instagram.png");
  background-position: 20px 22px;
}

.facebook {
  background-image: url("../images/facebook.png");
}

.container-footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.container-footer .container-logo {
  padding: 30px 50px;
}
.container-footer .column-1 .icon {
  font-size: 25px !important;
  padding-right: 10px;
}
.container-footer .column-1 .icon:hover {
  color: #01A098;
}
.container-footer .container-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
.container-footer .container-copyright p,
.container-footer .container-copyright a {
  color: #606060;
  font-family: "PP Neue Machina", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.container-footer .container-copyright .link-footer:hover {
  color: #01A098;
}
.container-footer .container-copyright span {
  padding: 0px 20px;
}

.container-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 70px 0;
}
.container-columns p,
.container-columns a {
  color: #606060;
  font-family: "PP Neue Machina", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.container-columns .p-qualità {
  border-bottom: 1px solid #1b2727;
  border-radius: 0;
  padding-bottom: 15px;
}

/* Media query per schermi piccoli */
@media (max-width: 1000px) {
  .container-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-columns > div {
    margin-bottom: 20px;
  }
  .container-copyright {
    text-align: center;
  }
}
@media (min-width: 1700px) {
  .wrapper-footer {
    max-width: 1500px;
    margin: 0 auto;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  background-image: url("../images/Immagine-slider-da-ripetere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.swiper-pagination {
  position: absolute;
  bottom: 220px !important;
  left: 15% !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 32px !important;
  height: 4px !important;
  background-color: #A3A3A3 !important;
}

.swiper-pagination-bullet-active {
  background-color: #479E97 !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Overlay semitrasparente */
.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Media query per schermi larghi */
@media (min-width: 900px) {
  .swiper-pagination {
    bottom: 200px !important;
  }
}
/* Media query per schermi stretti */
@media (max-width: 500px) {
  .swiper-pagination {
    position: absolute;
    bottom: 180px !important;
    left: 20% !important;
  }
}